html {
    height: 100%;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    size: 20px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    color: white;
    padding: 10px;
}

h1 {
    size: 50px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    /*display: none; /* Hidden by default */ 
    width: 10%; /* Full width (cover the whole page) */
    height: 10%; /* Full height (cover the whole page) */

    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
} /*reference: https://www.w3schools.com/howto/howto_css_overlay.asp; */